@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0px;
    margin: 0;
}

body {
    background-color: #333232;
    background-size: cover;
    background-attachment: fixed;

}

header {
    text-align: center;
    font-size: x-large;
    height: 200px;
    color: #252525;
    font-family: 'Bebas Neue', cursive;
    animation: text 5s linear infinite;
    transition: color 1ms ease;
    text-shadow: -1px 1px 5px yellow;

    height: 60px;
    background-color: yellow;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border-top-right-radius: 0px;
    max-width: 350px;
    height: 270px;
    padding: 10px;
    background-color: #1f1f1f;
    margin-right: 10px;
    box-shadow: 3px 5px 10px #000;

}

label {
    font-size: large;
    color: #d9d4d4;
    font-family: 'Russo One', sans-serif;
}


.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    float: center;


}

:placeholder-shown {
    color: yellow;
}

input {
    font-size: large;
    display: flexbox;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px;
    width: 90%;
    outline: none;
    background-color: #252525;
    color: white;
    box-shadow: -1px -1px 0px rgb(255, 254, 254);
}

button {
    margin-top: 10px;
    appearance: none;
    background-color: aliceblue;
    border: none;
    background-color: yellow;
    color: #252525;
    font-size: medium;
    font-family: 'Russo One', sans-serif;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: larger;
    border-radius: 10px;
}


button:hover {
    background-color: rgb(211, 211, 44);

}

table {
    font-family: 'Russo One', sans-serif;
    color: #fff;
    text-shadow: 0px 2px 0px #000;
    text-align: center;
    width: 330px;
    padding: 10px;
    padding-left: 10px;
    border-collapse: collapse;
    box-shadow: 2px 5px 5px #1f1f1f;
    background-color: #1f1f1f;
    border: #000;
    margin-bottom: 20px;

}

td {
    overflow: hidden;
}

thead {
    background-color: yellow;
    /* border: 2px solid #000; */
    color: #252525;
    text-shadow: none;

}

.center {
    text-align: center;
}

img {
    height: 55px;
    width: 65px;
    position: relative;
    top: 2px;
    background-size: cover;
}

p {
    text-align: left;
    background-color: #1f1f1f;
    font-family: 'Russo One', sans-serif;
    max-width: 330px;
    padding: 10px;
    box-shadow: 3px 5px 10px #000;
    color: #f0eaea;
    border-top-right-radius: 10px;
}


/* responsividade para o celular  */

@media screen and (max-width: 650px) {
    .container {
        display: grid;

        justify-content: center;
        justify-items: center;
    }

    .card {
        max-width: 300px;
        height: 250px;
        margin-bottom: 25px;
    }

    p {

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


}