@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0px;
    margin: 0;

}

body {
    background-color: #333232;

    animation: sweep .5s ease-in-out;
}


header {

    text-align: center;
    font-size: x-large;
    height: 60px;

}

h1 {
   
    color: yellow;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 6px 0px 0px #0e0d0d;
    animation: luz 1500ms ease-in-out infinite;
    text-decoration: underline;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}


.card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border-top-right-radius: 0px;
    max-width: 350px;
    height: 270px;
    padding: 10px;
    background-color: #1f1f1f;
    margin-right: 10px;
    box-shadow: 3px 5px 10px #000;

}

label {
     
 
    font-size: large;
    color: #d9d4d4;
    font-family: 'Russo One', sans-serif;
    transition: top  250ms ease-out;
    
}

.lampada{
    height: 200px;
    width: 300px;
    position: relative;
    top: -30px;
    rotate: 0deg;
    animation: balanço 5s ease-in-out infinite ;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 100px 50px yellow);
    
}

@keyframes balanço {
    25%{
        rotate: -10deg;
    }
    50%{
        rotate: 10deg;
    }
}
.container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    justify-items: center;
    float: center;

}

:placeholder-shown {
    color: yellow;
}


input {
    font-size: large;
    display: flexbox;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px;
    width: 90%;
    outline: none;
    background-color: #1f1f1f;
    border: none;
    color: white;
    box-shadow: 0px 1px 0px rgb(255, 254, 254);
}


button {
    margin-top: 10px;
    appearance: none;
    background-color: aliceblue;
    border: none;
    background-color: yellow;
    color: #252525;
    font-size: medium;
    font-family: 'Russo One', sans-serif;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: larger;
    border-radius: 10px;
}


button:hover {
    background-color: rgb(211, 211, 44);

}

table {
    font-family: 'Russo One', sans-serif;
    color: #fff;
    text-shadow: 0px 2px 0px #000;
    text-align: center;
    width: 330px;
    padding: 10px;
    padding-left: 10px;
    border-collapse: collapse;
    box-shadow: 2px 5px 5px #1f1f1f;
    background-color: #1f1f1f;
    border: #000;
    margin-bottom: 20px;

}

td {
    overflow: hidden;
}

thead {
    background-color: yellow;
    /* border: 2px solid #000; */
    color: #252525;
    text-shadow: none;

}

.center {
    text-align: center;
}

img {
    height: 55px;
    width: 65px;
    position: relative;
    top: 2px;
    background-size: cover;
   

}

p {
    text-align: left;
    background-color: #1f1f1f;
    font-family: 'Russo One', sans-serif;
    max-width: 330px;
    padding: 10px;
    box-shadow: 3px 5px 10px #000;
    color: #f0eaea;
    border-top-right-radius: 10px;

}

details summary {
    background-color: yellow;
    border-radius: none;
    margin-top: 15px;
    font-family: 'Russo One', sans-serif;
    color: #252525;
    transition: margin 250ms ease-out;
    box-shadow: 2px 5px 5px #1f1f1f;
    padding: 5px;
}

details[open] summary {

    margin-bottom: 10px;
}



#valorTotal {
    display: flexbox;
    text-align: left;
    background-color: #1f1f1f;
    font-family: 'Russo One', sans-serif;
    max-width: 330px;
    padding: 10px;
    box-shadow: 3px 0px 0px yellow;
    color: #d9d4d4;


}


/* responsividade para o celular  */

@media screen and (max-width: 650px) {
    .container {
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    body {
        overflow-x: hidden;
    }



    .card {
        max-width: 300px;
        height: 250px;
        margin-bottom: 25px;
    }

    p {

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


}